<!DOCTYPE html>
<html lang="en">
<head>

<!--   
  ____
 |    |
\0/   |
 |    |
/ \  _|_
    |___| 
-->	
	<meta charset="UTF-8">
	<title>Hangman</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
	<script src="hangman.js"></script>
	<style>
		h1{
			font-family: courier;
		}
	</style>
</head>
<body ng-app>
  <div ng-controller="HangManCtrl">
  	<!-- {{currentWord}} -->

		Hidden Word:
		<br>
  	<span ng-repeat="charl in hiddenCharls track by $index">
  		 {{charl}}
	</span>
	<h1>{{win}} {{lose}}
		{{lArm}}{{head}}{{rArm}}
		{{bod}}{{lLeg}}{{rLeg}}
<br> &nbsp;&nbsp;____
<br> &nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;|
<br> \0/&nbsp;&nbsp;&nbsp;|
<br> &nbsp;| &nbsp;&nbsp;&nbsp;|
<br> /&nbsp;\&nbsp;&nbsp;_|_
<br> &nbsp;&nbsp;&nbsp;&nbsp;|___|
	</h1>
	<br>
	<br>
<!--   	<span ng-repeat="char in displayChars() track by $index">
  		{{char}}
  	</span>
 -->
  	<form ng-submit="addWord()">
  		<input type="password" name="newWord" ng-model="newWord" placeholder="Enter a new word"> 
  		<br>
  		<button> Add Word </button>
  	</form>
<br>
<br>
Guessed:
	<span ng-repeat="guess in guesses">
		{{guess}}
	</span>
  	<form ng-submit="guessLetter()">
  		<input type="text" name="letter" ng-model="letter" placeholder="Guess a letter...at your peril">
  		<button>Submit</button>
  	</form>
  </div>
</body>
</html>