<!DOCTYPE html>
<html lang="en">
<head>

<!--
  ____
 |    |
\0/   |
 |    |
/ \  _|_
    |___|
-->
	<meta charset="UTF-8">
	<title>Hangman</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
	<script src="hangman.js"></script>
	<style>
		h1{
			font-family: courier;
		}
		span{
			padding: 0px;
			margin: 0px;
		}
	</style>
	<script src="https://code.jquery.com/jquery-1.11.2.min.js"> </script>
</head>
<body ng-app>
  <div ng-controller="HangManCtrl">
  	<span ng-repeat="charl in hiddenCharls track by $index">
  		 {{charl}}
	</span>
	<h1>
		{{win}} {{lose}}
 	</h1>
 	<h1>
 		<span id="hangDraw">
		</span>
	</h1>
	<br>
	<br>

  	<form ng-submit="addWord()">
  		<input type="password" name="newWord" ng-model="newWord" placeholder="Enter a new word">
  		<br>
  		<button> Add Word </button>
  	</form>
<br>
<br>
Guessed:
	<span ng-repeat="guess in guesses">
		{{guess}}
	</span>
  	<form ng-submit="guessLetter()">
  		<input type="text" name="letter" ng-model="letter" placeholder="Guess a letter...at your peril">
  		<button>Submit</button>
  	</form>
  </div>
</body>
</html>